#Core libraries
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
scipy>=1.10.0

#Modeling libraries
lightgbm>=4.0.0
lifelines>=0.27.0  # For Survival Analysis (CoxPH Model)

#Hyperparameter Tuning
optuna>=3.4.0

#MLOps
mlflow>=2.7.0  # Optional, for experiment tracking
joblib>=1.3.0  # For saving models

#Financial Data
yfinance>=0.2.0
ipykernel==6.30.0
seaborn==0.13.2
